
:root {
    --main-color: #121212;
    --main-color-half-opacity: rgb(18, 18, 18, 0.8);
    --second-color: #202020;
    --accent-color: #237bff;
    --main-text-color: #fff;
    --second-textcolor: #8d8c92;
    --warning-color: #f2b006;
    --danger-color: #cd2b3a;
    --warm-color: #698bbe;
    --outline-input-color: #2d2d2d;
}

* {
    padding: 0px;
    margin: 0px;
    color: var(--main-text-color);
    font-family: Inter;
}

body {
    background-color: var(--main-color);
}

h2 {
    margin: 16px 0px;
}

span {
    color: var(--second-textcolor);
    font-size: 10pt;
}
